body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Handjet";
  background-color: #ffffff;
}

.title-text {
  text-align: center;
}

.title-text h1 {
  font-size: 4em;
  font-weight: normal;
  color: #000000;
}

.hover-word {
  transition: color 0.25s ease;
}

.hover-word:hover {
  color: rgb(0, 119, 255);
}

.dot {
  color: #000000;
}

.title-text p {
  font-size: 1em;
  color: #000000;
}

::selection {
  background: #bebebe71;  /* Modern grey */
  color: #000000;  /* Text color when highlighted */
}
