@font-face {
  font-family: 'Noto Sans Linear B';
  src: url('./fonts/NotoSansLinearB-Regular.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans Linear B", sans-serif;
  background-color: #B8A9A1;
  color: #2d3b49;
}

.ascii-container {
  text-align: center;
}

.ascii-art {
  white-space: pre;
  display: inline-block;
  text-align: left;
  margin: auto;
}

.dissolve-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #22223b;
  z-index: 9999;
  opacity: 1;
  pointer-events: none;
  animation: dissolve 0.5s ease-out forwards;
}

@keyframes dissolve {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.title-text {
  text-align: center;
  z-index: 1;
}
.hover-word {
  transition: color 0.25s ease;
}

.hover-word:hover {
  color: #1d1a17a2;
}

.title-text p {
  font-size: 1.25em;
}

.title-text h1 a {
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  font-weight: normal;
}

.title-text h2 {
  user-select: none;
  font-size: 1em;
}

::selection {
  background: #a39b977c;  /* Modern grey */
  color: #4a4e69;  /* Text color when highlighted */
}
