@font-face {
  font-family: 'Boston Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Boston Regular'), url('fonts/BostonRegular.woff') format('woff');
  }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Boston Regular';
}



.ascii-container {
  text-align: center;
}

.ascii-art {
  white-space: pre;
  display: inline-block;
  text-align: left;
  margin: auto;
}

::selection {
  background: #a39b9735;  /* Modern grey */
}

#particles-js {
  overflow-y: hidden;
  position: relative;
  height: 100vh; /* Full height of the viewport */
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width to center the text properly */
  text-align: center; /* Center text horizontally */
}

h2 {
  margin: 0; /* Remove default margin */
}
